<div class="container">
    <img [src]="item.imageUrl" [alt]="item.name">

    <div class="details">
        <div class="header">
            <span class="name">
                {{ item.name }}
            </span>
            <span class="favorite {{item.favorite ? '' : 'not'}}">
                ♥
            </span>
        </div>
        <div class="rating">
            <app-start-rating [stars]="item.stars"></app-start-rating>
        </div>
        <div class="price">
            <span>
                {{ item.price | currency: 'BRL' }}
            </span>
        </div>

        <button (click)="addToCart()" >Add To Cart</button>
</div>